@import '../../variables';
.App {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: 50%;
    transform: translate(-50%,-50%);
    max-width: 1020px;
    height: 700px;
    overflow: hidden;
    background-image: url('../../фон.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;

    .AppHeader {
        display: flex;
        position: relative;
        height: 30px;
        width: 99.8%;
        border: 1px solid $headerBorder;
        padding-bottom: 15px;
        margin-top: 198px;
        background: $backgroundHeader;       

        .AppHeaderLogo {
            display: block;
            margin: auto;
            width: 150px;
            height: 45px;
            border-left: 1px solid $headerBorder;
            border-right: 1px solid $headerBorder;
            margin-left: 165px;

            .ImageLogo {
                display: block;
                background-image: url(../../Frame.png);
                background-repeat: no-repeat;
                background-size: 40% 23%;
                width: 300px;
                height: 100px;
                margin-top: 12px;
                margin-left: 16px;
            }
        }
    }
     
    .ContentMain {
        display: flex;
        width: 700px;
        margin-left: 180px;
        color: $colorContentMain;

        .ContentName {
            width: 330px;
            display: block;
            flex-wrap: wrap;
            font-size: 70px;
            background-image: url('../../Vector.png');
            background-repeat: no-repeat;
            background-size: 3.5% 9.2%;
            background-position: 176px 50px;

            h1 {
                display: block;
                font-size: 28px;
                font-weight: 600;
                background: -webkit-linear-gradient(to right, $gradientH1First, $gradientH1Second, $gradientH1Third); 
                background: -moz-linear-gradient(to right, $gradientH1First, $gradientH1Second, $gradientH1Third); 
                background: -o-linear-gradient(to right, $gradientH1First, $gradientH1Second, $gradientH1Third); 
                background: linear-gradient(to right, $gradientH1First, $gradientH1Second, $gradientH1Third); 
                -webkit-background-clip: text; 
                -webkit-text-fill-color: transparent; 
                letter-spacing: 1.2px;
                margin-top: 40px;
                margin-left: -15px;
            }

            span {
                margin-top: -5px;
                display: block;
                font-size: 10px;
                letter-spacing: 0.5px;
            }

            p {
                color: $colorP;
                width: 80px;
                font-size: 7px;
                border: 2px solid $backgroundBorderP;
                padding: 3px 0px 5px 16px;
                margin-left: -15px;
                margin-top: 40px;
            }
        }
    }

}





