@import '../../variables';
.NavList {
    width: 300px;
    margin-right: 180px;
    margin-top: 10px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    list-style: none;

    li button {
        padding: 0;
        height: 14px;
        background-color: transparent;
        border: none;
        color: $colorButtonHeader;
        font-size: 7px;
        cursor: pointer;
    }
}

.NavList li button.selected {
    margin-top: 1px;
    color: $colorActive;
    border-bottom: 1px solid $borderActive;
}
