.NavList {
    width: 300px;
    margin-right: 180px;
    margin-top: 10px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    list-style: none;

    li button {
        padding: 0;
        height: 14px;
        background-color: transparent;
        border: none;
        color: rgb(205, 184, 184);
        font-size: 7px;
        cursor: pointer;
    }
}

.NavList li button.selected {
    margin-top: 1px;
    color: rgb(152, 143, 143);
    border-bottom: 1px solid rgb(64, 59, 59);
}
