@import '../../variables';
.MainList {
    margin-top: 54px;
    width: 180px;
    height: 170px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;

    li button {
        display: flex;
        flex-wrap: wrap;
        width: 80px;
        height: 80px;
        background-color: transparent;
        border: none;
        color: $colorActive;
        font-size: 9px;
        cursor: pointer;
        margin-right: 5px;
        margin-top: -30px;
        cursor: pointer;
  
        .FirstLine {
            width: 100%;
            margin-top: 5px;
        }
        .SecondLine {
            width: 100%;
            font-size: 24px;
            color: $colorContentMain;
            margin-top: 0.5px;
        }
        .ThirdLine {
            margin-top: -15px;
            width: 100%;
        }
        .Year {
            color: $colorContentMain;
            font-size: 9px;
            margin-left: -10px;

        }
    }
}
.MainList li button.selected1,
.MainList li button.selected2,
.MainList li button.selected3,
.MainList li button.selected4 {
    border: 1px solid transparent;
    .FirstLine {
        margin-top: 5px;
    }
    .SecondLine {
        margin-top: 0.5px;
    }
    .ThirdLine {
        margin-top: -15px;
    }

}

.MainList li button.selected1 {
    border-image: conic-gradient(transparent, transparent, $gradientButton1, $gradientButton2,transparent, transparent, transparent) 0.7;
    background: linear-gradient(to right bottom, transparent , $gradientButton3);
    border-top: none;
    border-Left: none;
    margin-top: -31px;
    
}

.MainList li button.selected2 {
    border-image: conic-gradient(transparent, transparent, transparent, $gradientButton2, $gradientButton1, transparent, transparent) 0.7;
    background: linear-gradient(to left bottom, transparent, $gradientButton3);
    border-top: none;
    border-right: none;
    margin-top: -31px;
}

.MainList li button.selected3 {
    border-image: conic-gradient(transparent, $gradientButton1, transparent,transparent, $gradientButton1,transparent, transparent) 0.7;
    background: linear-gradient(to right top, transparent, $gradientButton3);
    border-bottom: none;
    border-left: none;
    margin-top: -31px;
}

.MainList li button.selected4 {
    border-image: conic-gradient(transparent, transparent, $gradientButton2,transparent, transparent, $gradientButton1, transparent) 0.7;
    background: linear-gradient(to left top, transparent, $gradientButton3);
    border-bottom: none;
    border-right: none;
    margin-top: -31px;
}

.MainList li button.unselected1,
.MainList li button.unselected2,
.MainList li button.unselected3,
.MainList li button.unselected4 {
    margin-top: -31px;
}

.MainList li button.unselected1 {
    background: linear-gradient(to right bottom, transparent , $gradientButton);
    border-top: none;
    border-Left: none;
}

.MainList li button.unselected2 {
    background: linear-gradient(to left bottom, transparent , $gradientButton);
    border-top: none;
    border-right: none;
}

.MainList li button.unselected3 {
    background: linear-gradient(to right top, transparent , $gradientButton);
    border-bottom: none;
    border-left: none;
}

.MainList li button.unselected4 {
    background: linear-gradient(to left top, transparent , $gradientButton);
    border-bottom: none;
    border-right: none;
}

