$headerBorder: rgb(56, 48, 48);
$backgroundHeader: rgba(black, 0.2);
$colorContentMain: white;
$gradientH1First: rgb(255, 252, 252);
$gradientH1Second: rgb(222, 98, 60);
$gradientH1Third: rgba(25, 3, 7);
$colorP: rgb(152, 143, 143);
$backgroundBorderP: rgba(81, 81, 231, 0.099);
$colorButtonHeader: rgb(205, 184, 184);
$colorActive: rgb(152, 143, 143);
$borderActive: rgb(64, 59, 59);
$gradientButton1:rgb(79, 80, 87);
$gradientButton2: rgb(84, 86, 101, 0.2);
$gradientButton3: rgb(133, 116, 133, 0.150);
$gradientButton: rgba(58, 52, 58, 0.2);